/* RESET */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    max-width: 100%;
    /* border: 1px solid grey; */
}

html {
    font-size: 62.5%;
}

/* HEADER NAV SECTION*/
header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    border-bottom: 3px solid #8D775F;
    background-color: #D5BF86;

}

.logo {
    width: 10%;
}

header nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 2rem;
    width: 80%;
    font-family: 'Open Sans', sans-serif;
}

header nav a{
    padding: 1%;
    width: 10%;
    text-align: center;
    text-decoration: none;
    color: #3F0D12;
}

header nav a:hover{
    border-bottom: 3px solid #f1f0cc;;
    
}

/* MAIN CONTENT */
main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 2% 0;
}

/* TITLE, DESCRIPTION, AND LOGIN SECTION */
.mid-container1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

/* IMAGE SECTION */
.mid-container2 {
    width: 40%;

}

/* TITLE, SUBTITLE AND DESCRIPTION */
.title {
    display: flex;
    flex-direction: column;
    width: 70%;
    justify-content: center;
    align-items: center;
    
}

h1 {
    margin: 1%;
    padding: 1%;
    width: 50%;
    font-size: 3.5rem;
    text-align: center;
    font-family: 'Offside', cursive;
    
}

h2 {
    margin: 1%;
    padding: 1%;
    font-size: 3.0rem;
    font-family: 'Open Sans', sans-serif;
}

.title p {
    margin: 1%;
    padding: 1%;
    font-size: 2rem;
    font-family: 'Open Sans', sans-serif;
}

/* LOGIN/SIGN UP SECTION */
.login {
    display: flex;
    flex-direction: column;
    width: 70%;
    justify-content: center;
    align-items: center;
    background-image: url('');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
    
}

h3 {
    margin: 1%;
    padding: 1%;
    font-size: 2.5rem;
}

.login a {
    margin: 1%;
    padding: 1%;
    font-size: 2rem;
}

/* FOOTER */
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 3px solid #8D775F;
    font-family: 'Open Sans', sans-serif;
}

/* NAV BAR */
footer nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 2rem;
    width: 70%;
    margin: 1%;
    padding: 1%;
}

/* SOCIAL MEDIA */
footer .socials {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 2rem;
    width: 20%;
    margin: 1%;
    padding: 1%;
}